.Home-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--first-color);
    font-size: 4rem
}
.Home-navbar-buttons-container > button {
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 0.5rem 2rem;
    font-size: 1.7rem;
    border: 0;
}
.Home-navbar-buttons-container > button:hover {
    cursor: pointer;
    color: var(--third-color);
}