.Home-Login-container {
    color: var(--second-color);
}

.Home-Login-register-link {
    text-decoration: none;
    color: var(--second-color);
    font-size: 1.8rem;
}
.Home-Login-register-link:hover {
    color: var(--third-color);
}