.MapLocations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    margin-top: 3rem;
}