.MonsterCard-container {
    background-color: var(--second-color);
    
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 2px solid var(--third-color);
}
.MonsterCard-selected > h3 {
    font-size: 6rem;
    animation: color-switch 2s linear infinite;
}
.MonsterCard-selected > p {
    font-size: 3rem;
    color: var(--fourth-color);
}